* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.hero {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../images/background.jpeg);
  background-size: cover;
  background-position: center;
}

.content {
  height: 18vh;
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content h2 {
  color: white;
  font-size: 35px;
  letter-spacing: 1px;
}

.content ul li {
  display: inline-block;
  list-style-type: none ;
  padding: 10px 30px;
}

.content ul a {
  color: white;
  text-decoration: none;
  font-size: 15px;
  letter-spacing: 1px;
  font-weight: bold;
}

.content ul li::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  background-color: white;
  margin: auto;
  transition: .4s;
}

.content ul li:hover::after {
  width: 100%;
}

.main {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

h1 {
  color: white;
  font-size: 75px;
  margin-bottom: 35px;
  line-height: 80px;
}

button {
  background-color: white;
  padding: 10px 30px;
  border: 2px solid transparent;
  border-radius: 30px;
  color: #000;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  transition: .4s;
}

button:hover {
  background-color: transparent;
  border: 2px solid white;
  color: white;
  cursor: pointer;
}