body {
  background: lightblue;
  text-align: center;
}

.wrapper {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.circle {
  width: 100px;
  padding: 50px 0;
  line-height: 0;
  margin: 60px auto;
  color: white;
  background: pink;
  border-radius: 50%;
  cursor: pointer;
  transition: background 1s, transform 1s 1s ease-in;
}

.circle:hover {
  background: crimson;
  transform: rotate(360deg);
}
