body {
  font: 14px/1.5 arial, verdana, helvetica, 'PingFang SC', 'HanHei SC', STHeitiSC-Light, Miscrosoft Yahei, sans-serif;
  -webkit-font-smoothing: antialiased;
  background: #f6f6f8;
  min-width: 1184px;
  font-size: 14px;
  color: #414a60;
  margin: 0 auto;
}

body {
  background: #f6f6f8;
  min-width: 1184px;
  line-height: 26px;
  color: #414a60;
  font-size: 14px;
}

.wrap {
  margin: 0 auto;
  position: relative;
}

.header {
  height: 49px;
  width: 100%;
  display: block;
  background-color: #202329;
  box-shadow: 0 1px 8px rbg(0 0 0 / 6%);
  position: relative;
  z-index: 1005;
}
.header a {
  color: #fff;
}
.header:after {
  content: "";
  display: block;
  overflow: hidden;
  visibility: hidden;
  clear: both;
}

.container {
  padding: 0 15px;
  width: auto;
  max-width: 1184px;
  margin: 0 auto;
}

.header-nav {
  color: #414a60;
}

.header-nav .header-nav-logo {
  float: left;
  padding: 6px 0 0 0;
}
.header-nav .header-nav-logo a {
  display: block;
  width: 110px;
  height: 36px;
  background: url(../images/logo.png) 3px 7px no-repeat;
  background-size: 105px 19px;  
}
.header-nav .header-nav-logo span {
  display: none;
}

.header-nav .header-nav-city {
  float: left;
  position: relative;
  cursor: pointer;
  height: 49px;
  line-height: 49px;
  color: #00d7c6;
}
.header-nav .header-nav-city .nav-city-icon {
  display: inline-block;
  vertical-align: top;
  width: 15px;
  height: 23px;
  background: url(../images/icon-poi.png) 0 -165px;
  margin: 17px 3px 0 12px;
}
.header-nav .header-nav-city .nav-city-switcher {
  font-size: 12px;
  color: #fff;
  margin-left: 10px;
}

.header-nav .header-nav-list,
.header-nav .header-nav-user {
  font-size: 0;
  float: left;
  margin-left: 15px;
  height: 49px;
  line-height: 49px;
}
.header-nav .header-nav-list ul {
  display: inline-block;
  white-space: nowrap;
  vertical-align: top;
}
.header-nav .header-nav-list li {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  font-size: 14px;
  margin: 0 7px;
}
.header-nav .header-nav-list li a {
  display: block;
  padding: 0 5px;
  position: relative;
}
.header-nav .header-nav-list {
  float: left;
}
.header-nav .header-nav-list li a {
  -webkit-transition: all linear 0.2s;
  transition: all linear 0.2s;
}

.header-nav .header-nav-list .first a {
  color: #00d7c6;
}

.header-nav .header-nav-user {
  float: right;
  margin-left: 5px;
}
.header-nav-user a {
  font-size: 14px;
}
.header-nav .header-nav-user .link-sign-resume {
  position: relative;
  margin-right: 20px;
  display: inline;
}
.header-nav .header-nav-user .link-scan {
  display: inline-block;
  font-size: 14px;
  margin-right: 10px;
}
.header .btn-outline {
  background: #202329;
}
.header-nav .header-nav-user .header-nav-user-buttons .btn-outline {
  border-radius: 15px;
  text-align: center;
  font-size: 13px;
  height: 23px;
  line-height: 23px;
  padding: 0 9px 0 11px;
  min-width: 0;
  margin-left: 17px;
  color: #fff;
}
.header-nav .header-nav-user .header-nav-user-buttons .btn-outline:hover {
  color: #00d7c6;
}
.btn-outline {
  background-color: #fff;
  color: #5dd5c8;
}
.btn {
  display: inline-block;
  min-width: 112px;
  box-sizing: content-box;
  height: 36px;
  line-height: 36px;
  border: 1px #5dd5c8 solid;
  font-size: 16px;
  color: #fff;
  letter-spacing: 1px;
  background: #5dd5c8;
  text-align: center;
  cursor: pointer;
}

.header-nav .header-nav-user .header-nav-user-buttons .new {
  height: 14px;
  position: absolute;
  top: -9px;
  right: -20px;
  padding: 0 6px;
  line-height: 14px;
  background-color: #ef505e;
  color: #fff;
  font-size: 12px;
  border-radius: 7px;
}

.nav-find::after, 
.nav-school-new::after {
  content: "";
  width: 30px;
  height: 14px;
  box-sizing: border-box;
  position: absolute;
  top: 8px;
  right: -20px;
  line-height: 13px;
  background-color: #ef505e;
  color: #fff;
  font-size: 12px;
  border-radius: 7px;
}

.nav-find::after {
  content: "hot";
}

.nav-school-new::after {
  content: "New";
}

.fast-register {
  margin: 0 auto;
  width: 100%;
  height: 120px;
  display: block;
  background-color: #00d7c6;
  position: relative;
  z-index: 1005;
}

.inner-container {
  width: 1084px;
  height: 120px;
  margin: 0 auto;
}

.fast-register .icon-tip {
  float: left;
  height: 120px;
  margin: 0 35px 0 0;
}

.fast-register .register-form-box {
  float: right;
  position: relative;
}
.fast-register .icon-tip2 {
  height: 26px;
  margin: 22px 0 8px 0;
}

.fast-register .register-input-box {
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

.fast-register .register-input-box input {
  padding: 6px 10px 5px 10px;
  height: 25px;
  border: none;
  line-height: 25px;
  background: #fff;
  box-shadow: 1px 0 4px 0 rgb(86 174 164 / 50%);
  font-size: 12px;
  vertical-align: middle;
}

.fast-register .register-input-box input.register-ipt-phone {
  width: 150px;
}

.fast-register .register-input-box .show-code-box {
  color: #54cbc4;
  font-size: 12px;
  position: absolute;
  right: 15px;
  top: 6px;
}

.fast-register .register-btn {
  min-width: 80px;
  box-sizing: content-box;
  font-size: 12px;
  vertical-align: middle;
  border: 1px solid #fff;
  height: 34px;
  line-height: 34px;
}

.fast-search {
  position: relative;
  z-index: 1003;
}

.fast-search .earch-box {
  width: 934px;
  margin: 0 auto;
}

.search-box {
  padding-top: 20px;
  width: 884px;
  position: relative;
  font-size: 13px;
}

input[type=tel] {
  -webkit-appearance: none;
}
input[type=text] {
  padding: 1px 2px;
}

input {
  outline: 0;
}

ul, ol ,li {
  list-style: none;
}

span, ul, div, body, a, button, i {
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: none;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-block-start: 0px;
  margin-inline-end: 0px;
}

a, a:hover {
  text-decoration: none;
}

a:hover {
  color: #00d7c6;
}

img {
  border: none;
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}
