p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-block-start: 0px;
  margin-inline-end: 0px;
}

dl {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-block-start: 0px;
  margin-inline-end: 0px;
}

h4 {
  display: block;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

h3 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

dd {
  display: block;
  margin-inline-start: 40px;
}

table {
  display: table;
  border-collapse: separate;
  box-sizing: border-box;
  text-indent: initial;
  border-spacing: 2px;
  border-color: grey;
}

tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

body {
  font: 14px/1.5 arial, verdana, helvetica, 'PingFang SC', 'HanHei SC', STHeitiSC-Light, Miscrosoft Yahei, sans-serif;
  -webkit-font-smoothing: antialiased;
  background: #f6f6f8;
  min-width: 1184px;
  font-size: 14px;
  color: #414a60;
  margin: 0 auto;
}

body {
  background: #f6f6f8;
  min-width: 1184px;
  line-height: 26px;
  color: #414a60;
  font-size: 14px;
}

.wrap {
  margin: 0 auto;
  position: relative;
}

.header {
  height: 49px;
  width: 100%;
  display: block;
  background-color: #202329;
  box-shadow: 0 1px 8px rbg(0 0 0 / 6%);
  position: relative;
  z-index: 1005;
}
.header a {
  color: #fff;
}
.header:after {
  content: "";
  display: block;
  overflow: hidden;
  visibility: hidden;
  clear: both;
}

.container {
  padding: 0 15px;
  width: auto;
  max-width: 1184px;
  margin: 0 auto;
}

.header-nav {
  color: #414a60;
}

.header-nav .header-nav-logo {
  float: left;
  padding: 6px 0 0 0;
}
.header-nav .header-nav-logo a {
  display: block;
  width: 110px;
  height: 36px;
  background: url(../images/logo.png) 3px 7px no-repeat;
  background-size: 105px 19px;  
}
.header-nav .header-nav-logo span {
  display: none;
}

.header-nav .header-nav-city {
  float: left;
  position: relative;
  cursor: pointer;
  height: 49px;
  line-height: 49px;
  color: #00d7c6;
}
.header-nav .header-nav-city .nav-city-icon {
  display: inline-block;
  vertical-align: top;
  width: 15px;
  height: 23px;
  background: url(../images/icon-poi.png) 0 -165px;
  margin: 17px 3px 0 12px;
}
.header-nav .header-nav-city .nav-city-switcher {
  font-size: 12px;
  color: #fff;
  margin-left: 10px;
}

.header-nav .header-nav-list,
.header-nav .header-nav-user {
  font-size: 0;
  float: left;
  margin-left: 15px;
  height: 49px;
  line-height: 49px;
}
.header-nav .header-nav-list ul {
  display: inline-block;
  white-space: nowrap;
  vertical-align: top;
}
.header-nav .header-nav-list li {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  font-size: 14px;
  margin: 0 7px;
}
.header-nav .header-nav-list li a {
  display: block;
  padding: 0 5px;
  position: relative;
}
.header-nav .header-nav-list {
  float: left;
}
.header-nav .header-nav-list li a {
  -webkit-transition: all linear 0.2s;
  transition: all linear 0.2s;
}

.header-nav .header-nav-list .first a {
  color: #00d7c6;
}

.header-nav .header-nav-user {
  float: right;
  margin-left: 5px;
}
.header-nav-user a {
  font-size: 14px;
}
.header-nav .header-nav-user .link-sign-resume {
  position: relative;
  margin-right: 20px;
  display: inline;
}
.header-nav .header-nav-user .link-scan {
  display: inline-block;
  font-size: 14px;
  margin-right: 10px;
}
.header .btn-outline {
  background: #202329;
}
.header-nav .header-nav-user .header-nav-user-buttons .btn-outline {
  border-radius: 15px;
  text-align: center;
  font-size: 13px;
  height: 23px;
  line-height: 23px;
  padding: 0 9px 0 11px;
  min-width: 0;
  margin-left: 17px;
  color: #fff;
}
.header-nav .header-nav-user .header-nav-user-buttons .btn-outline:hover {
  color: #00d7c6;
}
.btn-outline {
  background-color: #fff;
  color: #5dd5c8;
}
.btn {
  display: inline-block;
  min-width: 112px;
  box-sizing: content-box;
  height: 36px;
  line-height: 36px;
  border: 1px #5dd5c8 solid;
  font-size: 16px;
  color: #fff;
  letter-spacing: 1px;
  background: #5dd5c8;
  text-align: center;
  cursor: pointer;
}

.header-nav .header-nav-user .header-nav-user-buttons .new {
  height: 14px;
  position: absolute;
  top: -9px;
  right: -20px;
  padding: 0 6px;
  line-height: 14px;
  background-color: #ef505e;
  color: #fff;
  font-size: 12px;
  border-radius: 7px;
}

.nav-find::after, 
.nav-school-new::after {
  content: "";
  width: 30px;
  height: 14px;
  box-sizing: border-box;
  position: absolute;
  top: 8px;
  right: -20px;
  line-height: 13px;
  background-color: #ef505e;
  color: #fff;
  font-size: 12px;
  border-radius: 7px;
}

.nav-find::after {
  content: "hot";
}

.nav-school-new::after {
  content: "New";
}

.fast-register {
  margin: 0 auto;
  width: 100%;
  height: 120px;
  display: block;
  background-color: #00d7c6;
  position: relative;
  z-index: 1005;
}

.inner-container {
  width: 1084px;
  height: 120px;
  margin: 0 auto;
}

.fast-register .icon-tip {
  float: left;
  height: 120px;
  margin: 0 35px 0 0;
}

.fast-register .register-form-box {
  float: right;
  position: relative;
}
.fast-register .icon-tip2 {
  height: 26px;
  margin: 22px 0 8px 0;
}

.fast-register .register-input-box {
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

.fast-register .register-input-box input {
  padding: 6px 10px 5px 10px;
  height: 25px;
  border: none;
  line-height: 25px;
  background: #fff;
  box-shadow: 1px 0 4px 0 rgb(86 174 164 / 50%);
  font-size: 12px;
  vertical-align: middle;
}

.fast-register .register-input-box input.register-ipt-phone {
  width: 150px;
}

.fast-register .register-input-box .show-code-box {
  color: #54cbc4;
  font-size: 12px;
  position: absolute;
  right: 15px;
  top: 6px;
}

.fast-register .register-btn {
  min-width: 80px;
  box-sizing: content-box;
  font-size: 12px;
  vertical-align: middle;
  border: 1px solid #fff;
  height: 34px;
  line-height: 34px;
}

.fast-search {
  position: relative;
  z-index: 1003;
}

.fast-search .search-box {
  width: 934px;
  margin: 0 auto;
}

.search-box {
  padding-top: 20px;
  width: 884px;
  position: relative;
  font-size: 13px;
}

.fast-search .search-form {
  height: 50px;
}

.search-form {
  position: relative;
  zoom: 1;
  z-index: 1000;
}

.fast-search .search-form-con {
  width: 794px;
  box-shadow: 0 0 6px rgb(0 0 0 / 13%);
}

.search-form-con {
  float: left;
}

.fast-search .position-sel {
  width: 99px;
  float: left;
  padding-top: 9px;
  padding-bottom: 11px;
  border-color: #fff;
  border-left: 1px solid #fff;
}

.position-sel {
  display: block;
  width: 68px;
  height: 28px;
  border-left: none;
  line-height: 30px;
  float: right;
  padding: 6px 15px 8px 15px;
  background-color: #fff;
  position: relative;
  cursor: pointer;
}

.fast-search .position-sel .label-text {
  width: 80px;
}

.position-sel .label-text {
  width: 52px;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
}

.fast-search .position-sel b {
  font-size: 16px;
  width: 80px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}

.position-sel b {
  font-weight: 400;
  font-size: 13px;
  color: #61687c;
}

.position-sel .icon-arrow-down {
  position: absolute;
  right: 8px;
  top: 15px;
}

.search-box .icon-arrow-down {
  background-position: 0 -2044px;
}

.icon-arrow-down {
  width: 16px;
  height: 16px;
  background-position: 2px-544px;
}

.icon-arrow-down, .search-box .btn-search, .icon-arrow-right {
  display: inline-block;
  background-image: url(../images/icons.png);
  background-repeat: no-repeat;
}

.fast-search .search-form .ipt-wrap {
  height: 48px;
  border-color: #fff;
}

.search-form .ipt-wrap {
  background: #fff;
  border: 1px solid #53cac3;
  border-left: none;
  border-right: none;
  height: 42px;
  overflow: hidden;
}

.ipt-wrap {
  position: relative;
}

.fast-search .ipt-search {
  width: 626px;
  font-size: 16px;
  padding: 10px 19px;
}

.ipt-search {
  width: 323px;
  height: 28px;
  line-height: 30px;
  padding: 7px 15px;
  border: 0;
  font-size: 13px;
  color: #41406a;
}

.fast-search .btn-search {
  background-color: #5dd5c8;
}

.fast-search .btn-search {
  height: 50px;
  line-height: 50px;
  background-image: none;
  font-size: 16px;
  width: 140px;
  float: right;
}

.btn-search {
  height: 44px;
  line-height: 44px;
  text-align: center;
  color: #fff;
  background: #55cbc4;
  border: 0;
  cursor: pointer;
  font-size: 0;
  width: 90px;
  padding: 0;
  min-width: 0;
  background-position: 34px -138px;
  min-width: 0;
}

.fast-search .search-box .hot-search {
  height: 41px;
  margin-bottom: 20px;
  overflow: hidden;
  box-sizing: border-box;
  width: 794px;
}

.fast-search .hot-search {
  padding: 9px 0 26px 0;
}

.hot-search {
  font-size: 13px;
  color: #9fa3b0;
  padding: 16px 0;
}

.fast-search .hot-search b {
  margin-right: 18px;
}

.hot-search b {
  font-weight: 400;
  display: inline-block;
  margin-right: 5px;
}

.fast-search .hot-search a {
  color: #00c2b3;
  margin-bottom: 10px;
}

.hot-search a {
  display: inline-block;
  margin-right: 22px;
  color: #9fa3b0;
}

.main-page {
  margin: 0 auto;
  position: relative;
  width: 1184px;
}

.home-box {
  zoom: 1;  
}

.main-page .home-slider {
  width: 384px;
  position: absolute;
  left: 0;
  top: 0;
}

.job-menu {
  background: #fff;
  color: #61687c;
  position: relative;
  z-index: 1002;
  box-shadow: 5px 5px 15px rgb(3 0 0 / 4%);
  padding-top: 0;
}

.job-menu dl {
  padding: 0 0;
  zoom: 1;
  height: 42px;
}

.job-menu dl.cur {
  background: #5dd5c8;
  border-color: #d1d4db;
  border-right-color: #fff;
  position: relative;
  width: 100%;
  z-index: 10;
}

.job-menu dl.cur dd a,
.job-menu dl.cur dd b {
  color: #fff;
  transition: none;
}

.job-menu dd {
  padding: 8px 20px 9px;
  height: 26px;
  overflow: hidden;
}

.job-menu dd .icon-arrow-right {
  float: right;
  background-position: -25px 0;
  margin-top: 5px;
  width: 12px;
}

.job-menu i {
  font-style: normal;
  font-size: 16px;
  position: relative;
  top: 2px;
}

.icon-arrow-right {
  width: 16px;
  height: 16px;
  background-position: 4px 886px;;
}

.job-menu dd b {
  float: left;
  font-weight: 600;
  color: #414a60;
  font-size: 15px;
}

.job-menu a {
  color: #61687c;
  font-size: 13px;
  display: inline-block;
  line-height: 28px;
  margin-left: 16px;
}

.job-menu .show-all {
  color: #00c2b3;
  padding: 0 20px;
  border-top: dashed 1px #ecedef;
  height: 45px;
  line-height: 45px;
}

.menu-sub .menu-article {
  padding-left:  20px;
  height: 30px;
  font-size: 15px;
  font-weight: 700;
}
.menu-sub {
  display: none;
  position: absolute;
  background: #fff;
  padding: 20px 30px 20px 10px;
  width: 648px;
  top: 0;
  margin-top: -10px;
  left: 100%;
  z-index: 1;
  box-shadow: 0 1px 6px rgb(6 0 1 / 10%);
}

.menu-sub h4 {
  float: left;
  width: 104px;
  color: #8d92a1;
  font-size: 13px;
  padding-top: 2px;
  font-weight: 400;
  padding-left: 20px;
}

.menu-sub .text {
  margin-left: 130px;
  border-bottom: solid 1px #f5f6f9;
  padding: 0 0 10px 1px;
}

.menu-sub .text a {
  margin-left: 0;
  margin-right: 25px;
}

.job-menu .menu-line {
  display: none;
}

.job-menu dl.cur .menu-line {
  display: block;
  position: absolute;
  height: 100%;
  background: #5dd5c8;
  width: 5;
  top: 0;
  right: 0;
  z-index: 11;
}

.home-main {
  margin-left: 400px;
  min-width: 697px;
}

.slider-box {
  position: relative;
  overflow: hidden;
}

.promotion-main {
  font-size: 0;
  line-height: 0;
  height: 340px;
  position: relative;
}

.promotion-main table {
  width: 100%!important;
  table-layout: fixed;
}

table {
  border-collapse: collapse;
}

.promotion-main tr {
  min-height: 114px;
}

.promotion-main td {
  padding-right: 2px;
  padding-bottom: 2px;
  width: auto;
  vertical-align: top;
}

.promotion-main td a {
  display: block;
  width: 100%!important;
}

.promotion-main td a:hover {
  background-color: #000;
}

.promotion-main td a:hover img {
  opacity: .9;
}
.promotion-main td img {
  display: block;
  width: 100%!important;
}

.wrap .common-tab-box {
  clear: both;
  margin-top: 37px;
  overflow: hidden;
}

.wrap .merge-city-box {
  width: 100%;
  overflow: hidden;
}

.wrap .common-tab-box .box-title {
  font-size: 24px;
  text-align: center;
  position: relative;
  margin-bottom: 24px;
}

.wrap .common-tab-box .box-title::after,
.wrap .common-tab-box .box-title::before {
  display: inline-block;
  content: " ";
  vertical-align: 8px;
  margin: 0 10px;
  width: 50px;
  height: 1px;
  background: #d1d4db;
}

.wrap .common-tab-box h3 {
  height: 50px;
  position: relative;
  padding-left: 20px;
  background: #fff;
  margin-bottom: 10px;
  margin-right: -77px;
}

.wrap .common-tab-box h3 span {
  position: relative;
  display: inline-block;
  margin-right: 77px;
  line-height: 50px;
  color: #8d92a1;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
}

.wrap .common-tab-box h3 span.cur {
  color: #00c2b3;
  font-weight: 600;
}

.wrap .common-tab-box h3 span.cur::after {
  background-color: #00c2b3;
  bottom: 0;
  left: 0;
}

.wrap .common-tab-box h3 span::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
}

input[type=tel] {
  -webkit-appearance: none;
}
input[type=text] {
  padding: 1px 2px;
}
input[type=text] {
  -webkit-appearance: none;
}
input {
  outline: 0;
}

ul, ol ,li {
  list-style: none;
}

span, ul, div, body, a, button, i, p, dl, dd, b, h4, td, h3 {
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: none;
}

a, a:hover {
  text-decoration: none;
}

a:hover {
  color: #00d7c6;
}

a {
  text-decoration: none;
  color: #414a60;
}

img {
  border: none;
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}
